<p>
<h1 align="center"><%=link_to 'TASKS', root_path %></h1>
</p>

<p>
<div align="center">
  <button type="button" class="btn btn-light"><%= link_to 'Pending', pending_tasks_path %> </button>
  <button type="button" class="btn btn-light"><%= link_to 'Completed', completed_tasks_path %></button>
  <%#= link_to 'Pending', pending_tasks_path %>
  <%#= link_to 'Completed', completed_tasks_path %>
</div>
</p>


<!--<p>-->
<!--<h1><%#=link_to 'TASKS', root_path %></h1>-->
<!--</p>-->

<!--<div>-->
  <%#= link_to 'Pending', pending_tasks_path %>
  <%#= link_to 'Completed', completed_tasks_path %>
<!--</div>-->

<%#= will_paginate @tasks %>

<div class="table-responsive-lg">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Is done</th>
      <th>Note</th>
      <th>Deadline At</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Category Title</th>
      <th>Category Color</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.is_done %></td>
        <td><%= task.note%></td>

        <% if !(task.deadline_at.nil?) %>
          <td><%= task.deadline_at.strftime('%H:%M %n %d.%m.%Y') %>
        <% else %>
          <td></td>
        <% end %>

        <td><%= task.created_at.strftime('%H:%M %n %d.%m.%Y')  if task.created_at != nil%></td>
        <td><%= task.updated_at.strftime('%H:%M %n %d.%m.%Y')  if task.updated_at != nil%></td>

        <% if !(task.category.nil?) %>
          <td><%= task.category.title %></td>
          <td bgcolor="<%= task.category.color %>"></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>

        <% if task.tags.any? %>
          <td><%= task.tags.map{|tag| tag.title}.join(", ") %> </td>
        <% else %>
          <td></td>
        <% end %>

        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%#= will_paginate @tasks %>

<div class="container pagination justify-content-center" >
  <%= paginate @tasks, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>


<p>
<div align="center">
  <a type="button" class="btn btn-outline-warning" href=<%= new_task_path %>>New Task
  </a>
  <button type="button" class="btn btn-warning">
    <%= link_to 'Settings', settings_path %>
  </button>
</div>
</p>

<!--<button type="button" class="btn btn-light">-->
  <%#= link_to "New Task", new_task_path %>
<!--</button>-->
<!--<button type="button" class="btn btn-warning">-->
  <%#= link_to 'Settings', settings_path %>
<!--</button>-->

<p>
  <%= render 'filter_form', task: @task %>
</p>




<%#= simple_form_for :search, url: tasks_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%#= f.input :category, required: false, collection: Category.where(:user_id => current_user.id)%>
  <%#= f.input :tags, required: false, collection: Tag.where(:user_id => current_user.id), as: :check_boxes%>
  <%#= f.submit "Search" %>
<%# end %>