<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Is done:</strong>
  <%= @task.is_done %>
</p>


<% unless @task.note == "" %>
  <p>
    <strong>Note:</strong>
    <%=  @task.note  %>
  </p>
<% end %>


<% unless @task.deadline_at.nil? %>
  <p>
    <strong>Deadline at:</strong>
    <%= @task.deadline_at.strftime('%H:%M %d.%m.%Y') %>
  </p>
<% end %>


<% unless @task.category.nil? %>
  <p>
    <strong>Category:</strong>
    <%=  @task.category.title  %>
  </p>
<% end %>

<% unless @task.tags.size > 0%>
  <p>
    <strong>Tags:</strong>
    <%=  @task.tags.map{|tag| tag.title}.join(", ")  %>
  </p>
<% end %>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>