<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Title:</strong>-->
  <%#= @tag.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Color:</strong>-->
<!--  <input type="color" id="head" name="head"-->
<!--         value="<%#= @tag.color %>">-->
<!--</p>-->
<!--<%#= link_to 'Edit', edit_tag_path(@tag) %> |-->
<%#= link_to 'Back', tags_path %>


<div class="card text-center border-secondary mb-2">
  <h5 class="card-header text-white" style="background-color: <%= @tag.color %>;"><%= @tag.title %></h5>
  <div class="card-body">
    <p>
      Id: <span class="font-weight-bold"><%= @tag.id %></span><br>
      Color: <span style="color:<%= @tag.color %>"><%= @tag.color %><br></span>
      <small>Created at <%= l @tag.created_at, format: '%d.%m.%Y' %></small> |
      <small>Updated at <%= l @tag.updated_at, format: '%H:%M %d.%m.%Y'%></small>
    </p>
    <%= link_to 'Edit', edit_tag_path(@tag) %> |
    <%= link_to 'Destroy', @tag, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>