
<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :color, as: :color %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary"%>
    <%= f.button :button, "Reset", type: :reset, class: "btn-outline-secondary" %>
    <%= link_to "Cancel", categories_path, {:class=>"btn btn-outline-primary"} %>
  </div>
<% end %>
